

{% extends 'bookstore/main.html'%}

{% block content %}
<h3 class='p-5'> Profile</h3>
<hr>


<div class="container pb-5">
  <div class="row">
    <div class="col-sm">
     Name : <span class="badge bg-primary">{{request.user.username}}</span>
    </div>
    <div class="col-sm">
     Totlal Orders : <span class="badge bg-primary">{{t_orders}}</span>
    </div>
    <div class="col-sm">
      Pending Orders : <span class="badge bg-danger">{{p_orders}}</span>
    </div>
    <div class="col-sm">
     Delivered Orders : <span class="badge bg-success">{{d_orders}}</span>
    </div>
     <div class="col-sm">
       in progress Orders : <span class="badge bg-warning text-dark">{{i_orders}}</span>
    </div>
     <div class="col-sm">
      out of order Orders : <span class="badge bg-secondary">{{o_orders}}</span>
    </div>
  </div>
</div>


<hr>

<div class='container'>
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Book</th>
      <th scope="col">Category</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      
    </tr>
  </thead>
  <tbody>
    
     {% for item in orders %}
     <tr>
     <td>{{item.book}}</td>
      <td>{{item.book.category}}</td>
      <td>{{item.date_created}}</td>
      <td>{{item.status}}</td>
      
      
     

      {% endfor %}
    </tr>
   
  </tbody>
</table>
</div>

{% endblock%}